html, body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
html {
    font-size: 10px;
    background-color: wheat;
}
body{
    display: block;
    width: 1500px;
    padding: 10px;
    background-color: darkgrey;
    margin: 0 auto;
}
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 50px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 25px;
}
main, header, nav, article, aside, footer, section, div {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
}
nav ul{
    padding: 0;
    flex: 2;
    display: flex;
}
nav li{
    display: inline;
    text-align: center;
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 2rem;
    height: 3rem;
    text-transform: uppercase;
}
article{
    flex: 3.5;
}
main{
    display: flex;
}
aside {
    flex: 1.5;
    margin-left: 10px;
    padding: 1%;
}
p, dd{
    font-size: 20px;
}
img{
    max-width: 70%;
}
button{
    background-color: dodgerblue;
    width: 160px;
    height: 40px;
    font-size: 20px;
}
.main_div{
    display: flex;
}
.main_div div{
    margin-left: 5px;
    margin-right: 5px;
}
.left_down{
    flex: 5;
}
.right_down{
    flex: 5;
}

